.header{
	background:#20B2AA ;
	padding:10px;
	border:10px solid black;
	margin:10px;
}
.sidebar{
max-width:25%;
background:linear-gradient( #F08080, 	#191970);
border: 5px solid;
}

.main{
background:linear-gradient(maroon, black);
border:5px solid black;
max-width:25%;
}

 body {
    background-color: #a85088;
}
