.header{
	background:#20B2AA ;
	padding:10px;
	border:10px solid black;
	margin:10px;
}#6480a
.sidebar{
max-width:25%;
background:linear-gradient( #F08080, 	#191970);
border: 10px solid black;
}

.main{
background:linear-gradient(maroon, black);
border:10px solid black;
max-width:25%;
}

 body {
    background-color: #a85088;
    text-align: center;
}

.hello {
max-width:25%;
background:linear-gradient( #636e7f, 	#6480aa);
border: 10px solid black;
}
