.header{
	background:#20B2AA ;
	padding:10px;
	border:10px solid black;
	margin:10px;
}
.sidebar{
max-width:25%;
background:linear-gradient( #F08080, 	#191970);
border: 5px solid;
display:inline-block;
}

.main{
background:maroon;
border:5px solid black;
display:inline-block;
}

body {
    background-color: black;
}
